{% load i18n %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<link>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="color-scheme" content="light">
<meta name="supported-color-schemes" content="light">
<title>{{ project_name }}</title>
<body
  style="
  font-family: 'Rubik', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;">


<table role="presentation" class="body"
       style="border-collapse: separate; background-color: #ffffff; width: 100%; color: black; ">
  <tr>
    <td class="container"
        style="font-family: Roboto, Arial, sans-serif; font-size: 14px; vertical-align: top; display: block; max-width: 650px; padding: 10px; width: 650px; margin: 0 auto; ">
      <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 650px; padding: 10px;">
        <!-- START CENTERED black CONTAINER -->
        <table role="presentation" class="main" style="border-collapse: separate; height: 88px; width: 100%;">
          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper"
                style="font-family: Roboto, Arial, sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;"
                valign="top">
              <table role="presentation"
                     style="border-collapse: separate; width: 100%; border: 1px solid #e0e0e0; border-radius: 10px; padding: 20px">
                <tr>
                  <td style="font-family: Roboto, Arial, sans-serif; font-size: 14px; vertical-align: top;"
                      valign="top" align="center">
                    <img src="https://stgcontent71740.blob.core.windows.net/static/img/logo.png?se=2025-04-05T21%3A34%3A42Z&sp=r&sv=2025-01-05&sr=b&skoid=347a9a30-7289-47f1-919f-f53b1a90b732&sktid=c09fae9e-0750-4861-a01d-0dd6d9721be7&skt=2025-04-01T14%3A04%3A09Z&ske=2025-04-08T14%3A04%3A09Z&sks=b&skv=2025-01-05&sig=/U5dpnp%2Bh%2BXaHs6v95S7RFr%2BqhD7NxbXjBAC28vrP0s%3D" style="object-fit: contain;">
                    <hr style="border: 1px solid #e0e0e0;">
                    <h3
                      style="font-family: Roboto, Arial, sans-serif; margin-right: 40px; margin-bottom: 28px; color:rgba(109, 218, 67, 1); text-align: left; font-size: 28px;">
                      Hello
                    </h3>
                    <h3 style="font-family: Roboto, Arial, sans-serif; font-size: 15px; font-weight: 400; margin-bottom: 28px; color: black; text-align: left; width: fit-content;">
                      Thanks for creating a new account. Please verify your email address through the link below.
                    </h3>
                    <a href="{{ verification_link }}">
                    <button style="background-color:rgba(109, 218, 67, 1); width: 300px; height: 40px; color: white; border-color: transparent; border-radius: 5px; font-size: 16px; font-weight: bold; cursor: pointer;" >
                      Verify
                    </button>
                    </a>

                    <h4 style="font-family: Roboto, Arial, sans-serif; font-size: 15px; font-weight: 400; margin-left: 40px; margin-right: 40px; margin-bottom: 28px; color: black; text-align: left;">
                      <a href="{{ verification_link }}">{{ verification_link }}</a>
                    </h4>
                  </td>
                </tr>
              </table>
              <div style="display: flex; justify-content: center; align-items: center; ">
                <a href="https://www.linkedin.com/company/corrosion-one-llc/">
                  <button style="cursor: pointer;border-radius: 50px; width: 48px; height: 48px; margin-top: 20px; background-color: white; border-color: rgba(31, 66, 85, 1) ; color: rgba(31, 66, 85, 1); font-size:20px; font-weight: bold">in</button>
                </a>
              </div>

            </td>
          </tr>
          <!-- END MAIN CONTENT AREA -->
        </table>
        <!-- END CENTERED black CONTAINER -->
      </div>
    </td>
    <td style="font-family: Roboto, Arial, sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
  </tr>
</table>
</body>
</html>
