{% load i18n %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<link>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="color-scheme" content="light">
<meta name="supported-color-schemes" content="light">
<title>{{ project_name }}</title>
<body
  style="
  font-family: 'Rubik', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;">


<table role="presentation" class="body"
       style="border-collapse: separate; background-color: #ffffff; width: 100%; color: black; ">
  <tr>
    <td class="container"
        style="font-family: Roboto, Arial, sans-serif; font-size: 14px; vertical-align: top; display: block; max-width: 650px; padding: 10px; width: 650px; margin: 0 auto; ">
      <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 650px; padding: 10px;">
        <!-- START CENTERED black CONTAINER -->
        <table role="presentation" class="main" style="border-collapse: separate; height: 88px; width: 100%;">
          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper"
                style="font-family: Roboto, Arial, sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;">
              <table role="presentation"
                     style="border-collapse: separate; width: 100%; border: 1px solid #e0e0e0; border-radius: 10px; padding: 20px">
                <tr>
                  <td style="font-family: Roboto, Arial, sans-serif; font-size: 14px; vertical-align: top;" align="center">
                    <img src="https://stgcontent71740.blob.core.windows.net/static/img/logo.png" style="object-fit: contain;">

                    <hr style="border: 1px solid #e0e0e0;">
                    <h3
                      style="font-family: Roboto, Arial, sans-serif; margin-right: 40px; margin-bottom: 28px; color:rgba(109, 218, 67, 1); text-align: left; font-size: 28px;">
                      Hello {{ username }}
                    </h3>
                    <h3
                      style="font-family: Roboto, Arial, sans-serif; margin-right: 40px; margin-bottom: 28px;  text-align: left; font-size: 15px;">
                      {{ answer }}
                    </h3>

                    <hr style="border: 1px solid #e0e0e0;">

                  </td>
                </tr>
              </table>

            </td>
          </tr>
          <!-- END MAIN CONTENT AREA -->
        </table>
        <!-- END CENTERED black CONTAINER -->
      </div>
    </td>
    <td style="font-family: Roboto, Arial, sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
  </tr>
</table>
</body>
</html>
