{% load i18n %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<link>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="color-scheme" content="light">
<meta name="supported-color-schemes" content="light">
<title>{{ project_name }}</title>
<body
  style="
  font-family: 'Rubik', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;">


<table role="presentation" class="body"
       style="border-collapse: separate; background-color: #ffffff; width: 100%; color: black; ">
  <tr>
    <td class="container"
        style="font-family: Roboto, Arial, sans-serif; font-size: 14px; vertical-align: top; display: block; max-width: 650px; padding: 10px; width: 650px; margin: 0 auto; ">
      <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 650px; padding: 10px;">
        <!-- START CENTERED black CONTAINER -->
        <table role="presentation" class="main" style="border-collapse: separate; height: 88px; width: 100%;">
          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper"
                style="font-family: Roboto, Arial, sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;">
              <table role="presentation"
                     style="border-collapse: separate; width: 100%; border: 1px solid #e0e0e0; border-radius: 10px; padding: 20px">
                <tr>
                  <td style="font-family: Roboto, Arial, sans-serif; font-size: 14px; vertical-align: top;" align="center">
                    <div style="display: flex;margin-left: 60px;margin-top: -100px; align-items: center;">
                      <img src="images/logo.svg">
                    </div>
                    <hr style="border: 1px solid #e0e0e0;">
                    <h3
                      style="font-family: Roboto, Arial, sans-serif; margin-right: 40px; margin-bottom: 28px; color:rgba(109, 218, 67, 1); text-align: left; font-size: 28px;">
                      Hello {{ username }}
                    </h3>

                    <div style="  text-align: left; background-color: rgba(31, 66, 85, 0.1); border-radius: 15px; padding: 10px 20px; margin-bottom: 20px;">
                      <div style="display: flex; align-items: center;gap: 10px;">
                        <img src="{{ logo_url }}" alt="Avatar" style="width: 60px; height: 60px; border-radius: 50%; background-color: white; margin-top: 15px;">
                        <div style="width: 100%">
                          <h2 style="color: rgba(0, 110, 144, 1); margin-bottom: 5px;">{{company_name}}</h2>
                          <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
                          <div style="display: flex; justify-content: space-between; width: 100%;">
                            <p style="font-size: 10px; display: flex; align-items: center; margin-top: 0; margin-bottom: 3px;">
                              <span class="material-icons-outlined" style="margin-right: 8px; color: rgba(0, 110, 144, 1);">email</span>
                              {{user_email}}
                            </p>
                            <p style="font-size: 10px; display: flex; align-items: center; margin-top: 0; margin-bottom: 3px;">
                              <span class="material-icons-outlined" style="margin-right: 8px; color: rgba(0, 110, 144, 1);">phone</span>
                              {{user_phone_number}}
                            </p>
                          </div>
                          <p style="font-size: 10px; display: flex; align-items: center; margin-top: 0; margin-bottom: 3px;">
                            <span class="material-icons-outlined" style="margin-right: 8px; color: rgba(0, 110, 144, 1);">pin_drop</span>
                            {{user_address}}
                          </p>
                        </div>
                      </div>
                      <h2 style="color: rgba(31, 66, 85, 1); margin-bottom: 5px;">Jobs - {{job_name}}</h2>
                      <p style="font-size: 11px">{{job_description}}</p>
                      <div style="display: flex; justify-content: space-between;">
                        <h3 style="color: rgba(31, 66, 85, 1); font-size: 12px">Start Date: {{job_start_date}}</h3>
                        <h3 style="color: rgba(31, 66, 85, 1); font-size: 12px">End Date: {{job_end_date}}</h3>
                      </div>
                    </div>
                    <hr style="border: 1px solid #e0e0e0;">
                    <button style="background-color:rgba(109, 218, 67, 1); width: 300px ;margin-top: 20px; height:40px; color: white; border-color: transparent; border-radius: 5px; font-size: 16px; font-weight: bold;" onclick="window.location.href='{{ link }}'" >View Proposal</button>
                    <h4 style="font-size: 15px; font-weight: 400; margin-left: 40px; margin-right: 40px; color: black; text-align: left;">
                      <a href="{{ link }}">{{ link }}</a>
                    </h4>

                  </td>
                </tr>
              </table>
              <div style="display: flex; justify-content: center; align-items: center; ">
                <button style="border-radius: 50px; width: 48px; height: 48px; margin-top: 20px; background-color: white; border-color: rgba(31, 66, 85, 1) ; color: rgba(31, 66, 85, 1); font-size:20px; font-weight: bold" onclick="window.location.href='{{user_linkedin}}'">in</button>
              </div>
            </td>
          </tr>
          <!-- END MAIN CONTENT AREA -->
        </table>
        <!-- END CENTERED black CONTAINER -->
      </div>
    </td>
    <td style="font-family: Roboto, Arial, sans-serif; font-size: 14px; vertical-align: top;" valign="top">&nbsp;</td>
  </tr>
</table>
</body>
</html>
